/build/
/dist/
/Resources/templateRoute/
/resources/
moc_*.cpp
/log.txt
/template_routes/
/tsre_assets/
/tsre_appdata/0.691/
/tsre_appdata/0.692/
/tsre_appdata/0.69/
/tsre_appdata/0.693/
/tsre_appdata/0.6937/
/tsre_appdata/0.696/procedural/
.qmake.stash
dep.inc